* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  src: url(fonts/IRANSansWeb_Bold.ttf);
  font-family: "IranSans";
}
@font-face {
  src: url(fonts/yekannumbers-regular.woff);
  font-family: "Yekan";
}

a,
p,
i,
label,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  font-family: "IranSans";
  color: #6c4c4c;
}
::placeholder {
  font-family: "IranSans";
  color: rgb(101, 93, 93);
  /* text-shadow: 4px 4px 10px rgba(45, 90, 90, 1); */
  font-size: 1rem;
  text-overflow: ellipsis;
}

main > div {
  height: 30vw;
  position: relative;
}
main > div > img {
  object-fit: cover;
  object-position: 50%;
  width: 100%;
  height: 100%;
}
main > div::after {
  background-image: linear-gradient(
    to right,
    rgba(0, 255, 0, 0.5),
    rgba(0, 0, 255, 0.5)
  );
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
main > div > div {
  width: 70%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 15px;
  box-shadow: -3px 3px 1px white, 3px -3px 1px white;
  background-color: rgba(0, 0, 0, 0.5);
}
main > div > div > p {
  font-size: 3rem;
  text-align: center;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: -3px 3px 1px black;
}
main > section:first-of-type {
  padding-top: 1rem;
  counter-reset: heading;
  display: flex;
  direction: rtl;
  flex-wrap: wrap;
  justify-content: space-around;
}
main > section:first-of-type > h2 {
  text-align: center;
  padding: 1rem;
  width: 100%;
}
main > section:first-of-type > h2 > span {
  border-bottom: 2px solid red;
}
main > section:first-of-type > div {
  border-radius: 15px;
  box-shadow: 3px 3px 1px gray, -3px -3px 1px gray;
  margin: 1rem;
  padding-bottom: 1rem;
  width: 45%;
}
main > section:first-of-type > div:last-of-type {
  width: Calc(90% + 4.5rem);
}
main > section:first-of-type > div:last-of-type > div {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1rem;
  overflow: auto;
}
main > section:first-of-type > div:last-of-type > div > p {
  line-height: 200%;
  text-align: justify;
}
main > section:first-of-type > div:last-of-type > div > img {
  margin-left: 1rem;
  border-radius: 15px;
  width: 130px;
  height: 130px;
  object-fit: contain;
}
main > section:first-of-type > div:last-of-type > h4::before {
  content: counter(heading) ". ";
  font-family: "Yekan";
  font-weight: bold;
  font-size: inherit;
}
main > section:first-of-type > div:last-of-type > h4 {
  padding-right: 145px;
  counter-increment: heading;
}

main > section:first-of-type > div > h3 {
  direction: rtl;
  text-align: center;
  padding: 1rem;
}
main > section:first-of-type > div > img {
  margin: 1rem 1rem 0 1rem;
  border: 3px solid gray;
  float: right;
  object-fit: cover;
  border-radius: 5px;
}
main > section:first-of-type > div > p {
  padding: 1rem;
  direction: rtl;
  line-height: 2rem;
  text-align: justify;
}
main > section:first-of-type > div > p > span {
  color: blue;
}
main > section:first-of-type > div > p > span > a {
  color: blue;
  text-decoration: underline;
}
/* prettier-ignore */
main > section:first-of-type > div > p > span.Yekan,
main > section:first-of-type > div > p > a > span.Yekan,
main> section:first-of-type > div:last-of-type> div> p> span {
  font-family: "Yekan";
  font-weight: bold;
  color: inherit;
  font-size: inherit;
}
main > section:first-of-type > div > p > a {
  text-decoration: underline;
  color: darkblue;
}
#progress {
  position: absolute;
  top: 50%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  height: 1rem;
  border-radius: 15px;
  border: 1px solid black;
  overflow: hidden;
}
/* sandwich button close and open transition styles */
.displayNone {
  display: none;
}
.zeroOpacity {
  opacity: 0;
}
.left {
  left: 100%;
}
.rotate {
  transform: rotate(180deg);
}
.border-bottom {
  border-bottom: 0.1rem solid red;
  margin-bottom: 0;
}
/* style for left alignement of phone numbers  */
main > section:nth-of-type(1) > div > p.left {
  text-align: left;
  line-height: 1rem;
  padding: 0.5rem 2rem;
}

@media screen and (max-width: 1100px) {
  main > div > div > p {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 870px) {
  main > div > div > p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 525px) {
  main > div > div {
    width: 90%;
  }
  main > div > div > p {
    font-size: 1rem;
  }
  main > section:first-of-type > div:last-of-type > h4 {
    margin-right: 2.5rem;
    padding-right: 0;
  }
}
@media screen and (max-width: 945px) {
  main > section:first-of-type {
    flex-direction: column;
    align-items: center;
  }
  main > section:first-of-type > div,
  main > section:first-of-type > div:last-of-type {
    width: Calc(90%);
  }
  main > section:first-of-type > div:not(.noCenter) > p {
    clear: both;
  }
  main > section:first-of-type > div:not(.noCenter) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main > section:first-of-type > div.noCenter > p {
    display: block;
    height: auto;
  }
  main > section:first-of-type > div.noCenter > img {
    margin-top: 1rem;
  }
  main > section:first-of-type > div:last-of-type > div {
    display: block;
  }
  main > section:first-of-type > div:last-of-type > div > img {
    float: right;
  }
}
