* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    src: url(fonts/IRANSansWeb_Bold.ttf);
    font-family: "IranSans";
}
@font-face {
    src: url(fonts/yekannumbers-regular.woff);
    font-family: "Yekan";
}
a,
p,
i,
label,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
    font-family: "IranSans";
    color: #6c4c4c;
}
::-webkit-input-placeholder {
    font-family: "IranSans";
    color: rgb(101, 93, 93);
    font-size: 1rem;
    text-overflow: ellipsis;
}
:-ms-input-placeholder {
    font-family: "IranSans";
    color: rgb(101, 93, 93);
    font-size: 1rem;
    text-overflow: ellipsis;
}
::-ms-input-placeholder {
    font-family: "IranSans";
    color: rgb(101, 93, 93);
    font-size: 1rem;
    text-overflow: ellipsis;
}
::placeholder {
    font-family: "IranSans";
    color: rgb(101, 93, 93);
    font-size: 1rem;
    text-overflow: ellipsis;
}
/* main styles */
main > section:nth-child(1) > div:nth-child(1) {
    position: relative;
    height: 35rem;
    background-color: rgba(255, 255, 181, 1);
    background-image: url(../images/KosarBaftFooter.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}
main > section:nth-child(1) > div:nth-child(1) > div {
    -webkit-transition: left 1000ms;
    transition: left 1000ms;
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    left: 100%;
}
main > section:nth-child(1) > div:nth-child(1) > div > div {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid white;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border-radius: 15px;
    -webkit-box-shadow: -3px 3px 1px white, 3px -3px 1px white;
    box-shadow: -3px 3px 1px white, 3px -3px 1px white;
    background-color: rgba(0, 0, 0, 0.5);
}
main > section:nth-child(1) > div:nth-child(1) > div > div > p {
    color: white;
    text-shadow: 1px 1px 6px black, -1px -1px 6px black;
    padding: 3rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    direction: rtl;
    text-align: center;
}
main > section:nth-child(1) > div:nth-child(1) > div > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
main > section:nth-child(1) > div:nth-child(1) > i {
    color: white;
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}
main > section:nth-child(1) > div:nth-child(1) > i:hover {
    color: black;
}
main > section:nth-child(1) > div:nth-child(1)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: -webkit-gradient(
        linear,
        left top, right top,
        from(rgba(0, 255, 0, 0.4)),
        to(rgba(0, 0, 255, 0.4))
    );
    background-image: linear-gradient(
        to right,
        rgba(0, 255, 0, 0.4),
        rgba(0, 0, 255, 0.4)
    );
}
main > section:nth-child(1) > div:nth-child(1) > i:first-of-type {
    left: 1rem;
}
main > section:nth-child(1) > div:nth-child(1) > i:last-of-type {
    right: 1rem;
}
main > section:nth-child(1) > div:nth-child(2) {
    text-align: center;
    padding: 1rem;
}
main > section:nth-child(1) > div:nth-child(2) > label {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    margin: 1rem;
}
main > section:nth-child(1) > div:nth-child(2) > label > input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
}
main > section:nth-child(1) > div:nth-child(2) > label > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background-color: lightblue;
    border-radius: 50%;
}
main > section:nth-child(1) > div:nth-child(2) > label:hover > span {
    background-color: #2196f3;
}
main > section:nth-child(1) > div:nth-child(2) > label > input:checked ~ span {
    background-color: blue;
}
main > section:nth-child(2) {
    direction: rtl;
    padding: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
main > section:nth-child(2) > h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 1.5rem;
}
main > section:nth-child(2) > div {
    border-radius: 15px;
    -webkit-box-shadow: 3px 3px 1px gray, -3px -3px 1px gray;
    box-shadow: 3px 3px 1px gray, -3px -3px 1px gray;
    font-family: "IranSans";
    color: rgb(101, 93, 93);
    text-align: right;
    width: 45%;
    padding: 1rem;
    margin: 1rem;
}
main > section:nth-child(2) > div > h3 {
    text-align: center;
}
main > section:nth-child(2) > div > ul {
    list-style-type: none;
}
main > section:nth-child(2) > div > ul > li span {
    color: purple;
    font-weight: 900;
}
/* number spans that need to be in Persian: */
main > section:nth-child(2) > div > ul > li > p > span.Yekan {
    font-family: "Yekan";
    color: inherit;
}

main > section:nth-child(2) > div > ul > li {
    padding: 0.5rem;
    line-height: 1.5rem;
}
main > section:nth-child(2) > div > ul > li > p {
    line-height: 2.5rem;
}
main > section:nth-child(2) > div > ul > li > p > a {
    color: blue;
    text-decoration: underline;
}
main > section:nth-child(2) > h2 > span {
    border-bottom: 2px solid red;
}
body > main > section:nth-child(2) > div > ul > li > p > span.Yekan {
    font-family: "Yekan";
    color: inherit;
}

/* meida queries */
@media screen and (max-width: 700px) {
    main > section:nth-child(2) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    main > section:nth-child(2) > div {
        width: 90%;
    }
    main > section:nth-child(2) > h2 > span {
        border: none;
    }
}
@media screen and (max-width: 925px) {
    main > section > div:nth-child(1) > div > div {
        width: 60%;
    }
    main > section > div:nth-child(1) > div > div > p {
        padding: 1.5rem 3rem;
        font-size: 1rem;
    }
}
@media screen and (max-width: 475px) {
    main > section > div:nth-child(1) > div > div {
        width: 70%;
    }
}
@media screen and (max-width: 400px) {
    main > section > div:nth-child(1) > div > div > p {
        padding: 1.5rem;
        font-size: 0.75rem;
    }
}
