@font-face {
    src: url(fonts/IRANSansWeb_Bold.ttf);
    font-family: "IranSans";
}
@font-face {
    src: url(fonts/yekannumbers-regular.woff);
    font-family: "Yekan";
}

a,
p,
i,
label,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
    font-family: "IranSans";
    color: #6c4c4c;
}

::-webkit-input-placeholder {
    font-family: "IranSans";
    color: rgb(101, 93, 93);
    font-size: 1rem;
    text-overflow: ellipsis;
}

:-ms-input-placeholder {
    font-family: "IranSans";
    color: rgb(101, 93, 93);
    font-size: 1rem;
    text-overflow: ellipsis;
}

::-ms-input-placeholder {
    font-family: "IranSans";
    color: rgb(101, 93, 93);
    font-size: 1rem;
    text-overflow: ellipsis;
}

::placeholder {
    font-family: "IranSans";
    color: rgb(101, 93, 93);
    font-size: 1rem;
    text-overflow: ellipsis;
}
main {
    /* background-color: lightgreen; */
    padding: 1rem 0;
}
main > h1 {
    text-align: center;
    margin: 0;
    padding: 0 0 1rem 0;
}
main > section:first-of-type#kalite_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
main > section:first-of-type#kalite_container > div#cell_container {
    position: relative;
    -webkit-transform-style: preseve-3d;
    transform-style: preseve-3d;
    cursor: pointer;
}
main > section:first-of-type#kalite_container > div#cell_container > img {
    width: 100%;
    height: 100%;
    -webkit-transition: 1s;
    transition: 1s;
    /* should be removed */
    opacity: 0;
}
main > section:first-of-type#kalite_container > div#cell_container > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: 1s;
    transition: 1s;
    /* should be removed */
    display: none;
}
/* prettier-ignore */
main> section:first-of-type#kalite_container> div#cell_container> div:first-of-type {
    display: block;
    background-color:rgb(4, 12, 3);
    background-image: radial-gradient(circle,rgba(255, 255, 255, 0.4) 10px,transparent 10px);
    background-position: 0 0;
    background-size: 100px 100px;
}
main
    > section:first-of-type#kalite_container
    > div#cell_container
    > div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/TeregalTexture.jpg);
    background-size: 150px 150px;
    opacity: 0.1;
}
@media screen and (max-width: 642px) {
    main > section:first-of-type#kalite_container > div#cell_container {
        width: 70vw;
    }
}
